/* Reset e estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    padding-top: 80px;
    background-color: #000000;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #053C5E;
    color: #000000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.logo img {
    max-width: 70px;
    height: auto;
    display: block;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    color: #ffffff;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
}

header nav a:hover {
    background-color: #0c5684;
    border-color: #777;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

section {
    scroll-margin-top: 80px;
}

/* Banner */
.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    text-align: center;
    height: 150vh; 
    width: 100%;
    background: url(./elementos/trabalho.jpg) no-repeat center top/cover; 
    background-attachment: fixed; 
    color: white;
    padding-top: calc(20vh + 80px); 
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); 
}

/* Estilo do texto */
.banner h2 {
    font-size: 4em; 
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 40px; 
}
/* Estilo da seta */
.scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease;
    margin-top: 20px; 
}

.scroll-down img {
    width: 50px;
    height: auto;
    animation: bounce 2s infinite;
    cursor: pointer;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.scroll-down:hover {
    transform: scale(1.1);
}



/* Cards */
.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 60px 20px;
    background-color: #ffe0b2;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Seção Sobre */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 80px 20px;
    background-color: #8BA9C4;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card {
    width: 45%;
    min-height: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card p {
    font-size: 1.1em;
    color: #000000;
    margin-bottom: 20px;
    line-height: 1.6;
}

.card ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.card li {
    margin: 12px 0;
    font-size: 1.1em;
    color: #0a0a0a;
    padding-left: 20px;
    position: relative;
}

.card li::before {
    content: '•';
    color: #000000;
    font-size: 1.6em;
    position: absolute;
    left: 0;
    top: 0;
}

.card li:hover::before {
    color: #004d40;
    transform: scale(1.2);
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Portfólio */
.portfolio {
    text-align: center;
    padding: 80px 20px;
    background-color: #053C5E;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.portfolio h2 {
    font-size: 2em;
    margin-bottom: 30px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    overflow-x: auto;
    padding: 40px 0;
}

.portfolio-item {
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.portfolio-item img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    border-radius: 10px;
}

/* Contato */
.contact {
    display: flex;
    justify-content: center;
    padding: 80px 20px;
    background-color: #8BA9C4;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.contact-form {
    width: 45%;
    border: 1px solid #e0e0e0;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: #04080F;
    font-weight: bold;
    text-transform: uppercase;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
    transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #00796b;
}

.contact-form button {
    width: 50%;
    margin: 20px auto;
    display: block;
    padding: 15px;
    font-size: 1.2em;
    color: white;
    background-color: #04080F;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.contact-form button:hover {
    background-color: #555;
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form button:active {
    background-color: #444;
    transform: translateY(0);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
footer {
    background-color: #04080F;
    color: white;
    padding: 40px 20px;
    text-align: center;
    font-size: 1em;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    max-width: 100px; /* Tamanho da logo */
    height: auto;
    border-radius: 8px;
}

.footer-info h2 {
    margin: 0;
    font-size: 1.2em;
}

.footer-info p {
    margin: 5px 0;
    line-height: 1.4;
}

.footer-info a {
    color: #ffffff;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}